h1 Welcome to Incredibly_Safe_Messenger
p This site provides you the safest instant chatting experience.
So you no longer need to worry about FBI.
But since it is so secure, so please do no evil.
p
  a href='/login' login to start!
