script src="/js/jquery.js"
link href="/css/bootstrap.css" rel="stylesheet" /
javascript:
  $(document).ready(function(){
    $('#message').keypress(function(e){
      if(e.keyCode==13)
        Submit();
    });
    $(".panel-body").scrollTop($(".panel-body")[0].scrollHeight);
    setInterval(polling, 3000);
  });
  function Submit(){
    var data = $('#message').val();
    $('#message').val('')
    $.ajax({
      url: '/message/#{sender}/chatroom/#{receiver}',
      data: 'message=' + data,
      type:"POST",
      dataType:'text',
      error:function(xhr, ajaxOptions, thrownError){
        alert(xhr.status);
        alert(thrownError);
      }
    });
  }
  function polling() {
    var time = '';
    if ($('small.text-muted').length > 0){
      time = $('small.text-muted').last().text().split(' | ')[1];
    }
    $('.panel-body ul.media-list').children().last()
    $.ajax({
        url: '/message/#{sender}/chatroom/#{receiver}/poll?after='+time,
        type: 'get',
        timeout: 3000,
        success: function(response){
          if(response != ''){
            $('ul.media-list').append(response);
            $(".panel-body").scrollTop($(".panel-body")[0].scrollHeight);
          }
        },
    });
  };

.panel.panel-info
  .panel-heading
    | RECENT CHAT HISTORY WITH #{receiver}
  .panel-body style="height:450px;overflow-y: scroll;" 
    ul.media-list
      - messages.each do |message|
        li.media
          .media-body
            .media
              a.pull-left href="#"
                img.media-object.img-circle src="/img/user.jpeg" /
              .media-body #{message['message']}
              br/
              small.text-muted #{message['sender']} | #{message['time']}
              hr/
  .panel-footer
    .input-group
      input.form-control id='message' placeholder=("Enter Message") type="text" /
      span.input-group-btn
        button.btn.btn-info type="submit" onclick='Submit();' SEND
